/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* The Nivo Slider styles */
 /*make slider width 50% and height setting*/
    /*22/6/16 amey and pankaj*/
.nivoSlider {
    position: relative;
    width: 50%;
    /*height:auto;*/
    overflow: hidden;
    height: 370.2px;
}
 /*make slider height setting*/
    /*22/6/16 amey and pankaj*/
    .nivoSlider img {
        position: absolute;
        top: 0px;
        left: 0px;
        max-width: none;
        /*height:auto;*/
        height: 370.2px;
    }
 /*make slider height setting*/
    /*22/6/16 amey and pankaj*/
.nivo-main-image {
    /*display: block !important;*/
    display: none;
    position: relative !important;
    width: 100% !important;
    /*height:auto;*/
    height: 370.2px;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    z-index: 6;
    display: none;
    background: white;
    filter: alpha(opacity=0);
    opacity: 0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
    /*display:block;*/
    display: none;
    position: absolute;
    z-index: 5;
    height: 100%;
    top: 0;
}
 /*make display none*/
    /*22/6/16 amey and pankaj*/
.nivo-box {
    /*display:block;*/
    display: none;
    position: absolute;
    z-index: 5;
    overflow: hidden;
}

    .nivo-box img {
        display: block;
    }

/* Caption styles */
.nivo-caption {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: #000;
    color: #fff;
    width: 100%;
    z-index: 8;
    padding: 5px 10px;
    opacity: 0.8;
    overflow: hidden;
    display: none;
    -moz-opacity: 0.8;
    filter: alpha(opacity=8);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

    .nivo-caption p {
        padding: 5px;
        margin: 0;
    }

    .nivo-caption a {
        display: inline !important;
    }

.nivo-html-caption {
    display: none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
    position: absolute;
    top: 45%;
    z-index: 8;
    cursor: pointer;
}

.nivo-prevNav {
    left: 0px;
}

.nivo-nextNav {
    right: 0px;
}
/* Control nav styles (e.g. 1,2,3...) */

.nivo-controlNav {
    /*text-align:center;*/
    margin-left: 280px;
    padding: 15px 0;
    /*remove nav form slider*/
    /*22/6/16 amey and pankaj*/
    display:none;
}

    .nivo-controlNav a {
        cursor: pointer;
    }

        .nivo-controlNav a.active {
            font-weight: bold;
        }


  /*make responsive slider*/
    /*22/6/16 amey and pankaj*/

@media only screen and (max-width: 480px) {
    .nivoSlider {
        width: 100%;
        height: auto;
    }

        .nivoSlider img {
            height: auto;
        }

    .nivo-main-image {
        height: auto;
    }

    .nivo-controlNav {
        text-align: left;
        padding: 15px 0;
        position: absolute;
        left: -145px;
        margin-left: 50px;
        z-index: 3000 !important;
    }
}


@media (max-width:641px) {
    .nivoSlider {
        width: 100%;
        height: auto;
    }

        .nivoSlider img {
            height: auto;
        }

    .nivo-main-image {
        height: auto;
    }
   
}

@media (max-width:1025px) {
    .nivoSlider {
        width: 100%;
        height: auto;
    }

        .nivoSlider img {
            height: auto;
        }

    .nivo-main-image {
        height: auto;
    }
   
}

@media (min-width:1025px) {
    .nivoSlider {
        width: 100%;
        height: auto;
    }

        .nivoSlider img {
            height: 370.2px;
        }

    .nivo-main-image {
        height: 370.2px;
    }
    
}

@media (min-width:1281px) {
    .nivoSlider {
        width: 50%;
        height: 370.2px;
    }

        .nivoSlider img {
            height: 370.2px;
        }

    .nivo-main-image {
        height: 370.2px;
    }
   
}
