﻿@using ima9ines.Nop.Core.Plugins
@using ima9ines.Nop.CorePlugin
@using ima9ines.Nop.NewProducts.Web.Models
@using Nop.Core
@using Nop.Web.Framework.UI
@using Nop.Web.Models.Catalog
@model DisplayWidgetModel
@{
    string theme = Model.Theme;

    string pluginId = typeof(ima9ines.Nop.NewProducts.Plugin).GetPluginId();

    IEnumerable<ProductOverviewModel> products = Model.Items;
}
@if (products.Count() > 0)
{
    <div id="@pluginId" class="product-grid @theme ima9ines-nop__plugin-responsiveCarousel ima9ines-nop__new-products">
        <div class="title">
            <strong>@T("ima9ines.Nop.NewProducts.Heading")</strong>
        </div>
        <div id="@pluginId-nav" class="crsl-nav">
            <a href="#" class="previous"><i class="fa fa-chevron-left fa-fw"></i></a>
            <a href="#" class="next"><i class="fa fa-chevron-right fa-fw"></i></a>
        </div>
        <div class="crsl-items" data-navigation="@pluginId-nav">
            <div class="item-grid crsl-wrap">
                @foreach (var item in products)
                {
                    <figure class="crsl-item">
                        <div class="item-box">
                            @Html.Partial("_ProductBox", item)
                        </div>
                    </figure>
                }
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#@pluginId .crsl-items').carousel({
                visible: 4,
                itemMinWidth:100
            });
        });
    </script>
}