﻿@model AddressModel
@using Nop.Web.Models.Common;

@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    <script type="text/javascript">
    $(document).ready(function () {
        $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
            var selectedItem = $(this).val();
            var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
            var statesProgress = $("#states-loading-progress");
            statesProgress.show();
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                success: function (data) {
                    ddlStates.html('');
                    $.each(data, function (id, option) {
                        ddlStates.append($('<option></option>').val(option.id).html(option.name));
                    });
                    statesProgress.hide();
                    $('select').material_select();

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                    statesProgress.hide();
                }
            });
        });
        $("#@Html.FieldIdFor(model => model.ZipPostalCode)").on('input', function (e) {
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "/Checkout/GetZipcodeCity",
                    data: { zipcodestr: $(this).val() },
                    contentType: 'application/json',
                    success: function (zipcode) {
                        if (zipcode.City != "")
                        {

                            $("#@Html.FieldIdFor(model => model.City)").focus();
                        }
                        $("#@Html.FieldIdFor(model => model.City)").val(zipcode.City);
                },
                failure: function (response) {
                    alert('Oops! something went wrong, failure: ' + response.d);
                },
                error: function (response) {
                    if (response.statusText == 'abort') {
                        return;
                    }
                    alert('Oops! something went wrong, error: ' + response);
                }
            });
        });
    });
    </script>
}
@Html.HiddenFor(model => model.Id)
<div class="row">
    <div class="input-field col s12">
        @Html.EditorFor(model => model.FirstName, new { required="required"})
        @Html.LabelFor(model => model.FirstName, new { }, ":")
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>
    <div class="input-field col s12">
        @Html.EditorFor(model => model.LastName, new { required = "required" })
        @Html.LabelFor(model => model.LastName, new { }, ":")
        @Html.ValidationMessageFor(model => model.LastName)

    </div>
    @if (Model.CountryEnabled)
    {
        <div class="input-field col s12">
            @Html.DropDownListFor(model => model.CountryId, Model.AvailableCountries)
            @Html.LabelFor(model => model.CountryId, new { }, ":")
            @Html.ValidationMessageFor(model => model.CountryId)
        </div>
    }
    <div class="input-field col s12">        
        @Html.EditorFor(model => model.Email)
        @Html.LabelFor(model => model.Email, new { }, ":")
        @Html.ValidationMessageFor(model => model.Email)
    </div>
@if (Model.PhoneEnabled)
{
    <div class="input-field col s12">
        @Html.EditorFor(model => model.PhoneNumber)
        @Html.LabelFor(model => model.PhoneNumber, new { }, ":")
        @if (Model.PhoneRequired)
        {
            @Html.RequiredHint()
        }
        @Html.ValidationMessageFor(model => model.PhoneNumber)
    </div>
}
@if (Model.StreetAddressEnabled)
{
    <div class="input-field col s12">
        @Html.EditorFor(model => model.Address1)
        @Html.LabelFor(model => model.Address1, new { }, ":")
        @if (Model.StreetAddressRequired)
        {
            @Html.RequiredHint()
        }
        @Html.ValidationMessageFor(model => model.Address1)
    </div>
}
@if (Model.ZipPostalCodeEnabled)
{
    <div class="input-field col s12">
        @Html.EditorFor(model => model.ZipPostalCode, new { id="zipCode"})
        @Html.LabelFor(model => model.ZipPostalCode, new { }, ":")
        @if (Model.ZipPostalCodeRequired)
        {
            @Html.RequiredHint()
        }
        @Html.ValidationMessageFor(model => model.ZipPostalCode)
    </div>
}
@if (Model.CityEnabled)
{
    <div class="input-field col s12">
        @Html.EditorFor(model => model.City)
        @Html.LabelFor(model => model.City, new { }, ":")

        @if (Model.CityRequired)
        {
            @Html.RequiredHint()
        }
        @Html.ValidationMessageFor(model => model.City)
    </div>
}
    @*@if (Model.CompanyEnabled)
    {
        <div class="input-field col s12">
            @Html.EditorFor(model => model.Company)
            @Html.LabelFor(model => model.Company, new { }, ":")
            @if (Model.CompanyRequired)
            {
                @Html.RequiredHint()
            }
            @Html.ValidationMessageFor(model => model.Company)
        </div>
    }*@


    @*@if (Model.CountryEnabled && Model.StateProvinceEnabled)
    {
        <div class="input-field col s12">
            @Html.DropDownListFor(model => model.StateProvinceId, Model.AvailableStates)
            @Html.LabelFor(model => model.StateProvinceId, new { }, ":")
            <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
            @Html.ValidationMessageFor(model => model.StateProvinceId)
        </div>
    }

  
    @if (Model.StreetAddress2Enabled)
    {
        <div class="input-field col s12">
            @Html.EditorFor(model => model.Address2)
            @Html.LabelFor(model => model.Address2, new { }, ":")
            @if (Model.StreetAddress2Required)
            {
                @Html.RequiredHint()
            }
            @Html.ValidationMessageFor(model => model.Address2)
        </div>
    }
 
    @if (Model.FaxEnabled)
    {
        <div class="input-field col s12">
            @Html.EditorFor(model => model.FaxNumber)
            @Html.LabelFor(model => model.FaxNumber, new { }, ":")
            @if (Model.FaxRequired)
            {
                @Html.RequiredHint()
            }
            @Html.ValidationMessageFor(model => model.FaxNumber)
        </div>
    }*@
    @if (Model.CustomAddressAttributes.Count > 0)
    {
        @Html.Partial("_AddressAttributes", Model.CustomAddressAttributes)
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('select').material_select();
        Materialize.updateTextFields();
    });
</script>