﻿@model  IEnumerable<Nop.Core.Domain.Pakkelabel.PakkelabelGenerationMethod>

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Settings.Pakkelabels").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Pakkelabel settings");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.Settings.Pakkelabels")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">

            @Html.HiddenFor(model => model.First().Id)
            @Html.HiddenFor(model => model.First().Setting)

            @{

    bool i;
    bool k;
            }
            @foreach (var item in Model)
            {
                @Html.ValidationSummary(false)

                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-3 text-right">

                                @Html.NopLabelFor(items => item.Setting)

                            </div>
                            <div class="col-md-3">
                                @{

                                    if (item.Value == "true")
                                    {
                                        i = true;
                                        k = false;
                                    }
                                    else
                                    {
                                        i = false;
                                        k = true;
                                    }

                                }

                                @Html.DropDownList("Value", new List<SelectListItem>
                           {
                                  new SelectListItem{ Text = "TEST", Value = "true", Selected = i },
                                  new SelectListItem{ Text = "PROD", Value = "false" , Selected = k }
                           }, new { @class = "form-control" })

                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
}
