﻿@using ima9ines.Nop.Core.Plugins
@using Nop.Web.Framework
@{
    IEnumerable<KeyValuePair<string, string>> plugins = PluginExtensions.GetAllPluginLinks(Url);
}
<div class="btn-group pull-right">
    <button class="btn btn-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@T("ima9ines.Nop.InstalledPlugins")</button>
    <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right scrollable-list">
        @foreach (var item in plugins)
        {
            <li>
                <a class="clearfix" href="@item.Key">@item.Value</a>
            </li>
        }
    </ul>
</div>