﻿@{
    Layout = "";
}
@model Nop.Plugin.Shipping.Pakkelabels.Models.PakkelabelsShippingModel
@using Nop.Web.Framework;
@using (Html.BeginForm())
{ @Html.AntiForgeryToken()
     <script>
         $(document).ready(function () {
             bindBootstrapTabSelectEvent('pakkelabel-configure');
         });
    </script>

    <div id="pakkelabel-configure" class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            @Html.RenderBootstrapTabHeader("tab-general", @T("Nop.Plugin.Shipping.Pakkelabels.General"), true)
            @Html.RenderBootstrapTabHeader("tab-gls", @T("Nop.Plugin.Shipping.Pakkelabels.GLS"))
             @Html.RenderBootstrapTabHeader("tab-pdk", @T("Nop.Plugin.Shipping.Pakkelabels.PDK"))
            @Html.RenderBootstrapTabHeader("tab-dao", @T("Nop.Plugin.Shipping.Pakkelabels.DAO"))
        </ul>
        <div class="tab-content">
            @Html.RenderBootstrapTabContent("tab-general", @TabGeneral(), true)
            @Html.RenderBootstrapTabContent("tab-gls", @TabGLS())
              @Html.RenderBootstrapTabContent("tab-pdk", @TabPDK())
             @Html.RenderBootstrapTabContent("tab-dao", @TabDAO())
        </div>
    </div>
}
@helper TabGeneral()
{
      
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-9">
    <P>Opsætning for Pakkelabels GLS Pakkeshops & Postdanmark udleveringssteder.</P>
    <br />
    <P>Dette Plugin kan kun bruges til forsendelser i Danmark.</P>
    
    <P>Bemærk, PostDanmark beregner volumenvægt ud fra pakkens størrelse(længde, bredde, højde er påkrævet på alle produkter). Der betales efter den højeste vægt.</P>
   
    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        
                <hr />
               
        </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.AdditionalHandlingCharge)
           </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.AdditionalHandlingCharge)
                @Html.ValidationMessageFor(model => model.AdditionalHandlingCharge)
             </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.DescriptionText)
            </div>
                    <div class="col-md-3">
                @Html.TextAreaFor(model => model.DescriptionText, new { style = "Width: 300px;height: 25px;" })
                @Html.ValidationMessageFor(model => model.DescriptionText)
           </div>
                </div>
                 <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.apiuser)
           </div>
                    <div class="col-md-3">
                @Html.TextAreaFor(model => model.apiuser, new { style = "Width: 300px;height: 25px;" })
                @Html.ValidationMessageFor(model => model.apiuser)
             </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.apikey)
            </div>
                    <div class="col-md-3">
               @Html.TextAreaFor(model => model.apikey, new { style = "Width: 300px; height: 25px;" })
                @Html.ValidationMessageFor(model => model.apikey)
           </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
           </div>
            </div>
         </div>
}
@helper TabGLS()
{
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-9">
    
   
   
    </div>
                
                <div class="form-group">
                    <div class="col-md-9">
        </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.usegls)
            </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.usegls)
                @Html.ValidationMessageFor(model => model.usegls)
            </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.glsshopsamount)
            </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.glsshopsamount)
                @Html.ValidationMessageFor(model => model.glsshopsamount)
             </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.glsfrifragt)
            </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.glsfrifragt)
                @Html.ValidationMessageFor(model => model.glsfrifragt)
             </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.glsfastpris)
            </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.glsfastpris)
                @Html.ValidationMessageFor(model => model.glsfastpris)
             </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.glsrate1)
            </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.glsrate1)
                @Html.ValidationMessageFor(model => model.glsrate1)
            </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.glsrate2)
            </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.glsrate2)
                @Html.ValidationMessageFor(model => model.glsrate2)
            </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.glsrate3)
           </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.glsrate3)
                @Html.ValidationMessageFor(model => model.glsrate3)
             </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.glsrate4)
            </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.glsrate4)
                @Html.ValidationMessageFor(model => model.glsrate4)
                        </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
   
}

                    @helper TabPDK()
{
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
    
   
   
    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
            </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.usepdk)
            </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.usepdk)
                @Html.ValidationMessageFor(model => model.usepdk)
            </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.pdkshopsamount)
           </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.pdkshopsamount)
                @Html.ValidationMessageFor(model => model.pdkshopsamount)
             </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.pdkfrifragt)
            </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.pdkfrifragt)
                @Html.ValidationMessageFor(model => model.pdkfrifragt)
             </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.pdkfastpris)
           </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.pdkfastpris)
                @Html.ValidationMessageFor(model => model.pdkfastpris)
                         </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.pdkrate1)
            </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.pdkrate1)
                @Html.ValidationMessageFor(model => model.pdkrate1)
            </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.pdkrate2)
            </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.pdkrate2)
                @Html.ValidationMessageFor(model => model.pdkrate2)
            </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.pdkrate3)
           </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.pdkrate3)
                @Html.ValidationMessageFor(model => model.pdkrate3)
             </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.pdkrate4)
            </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.pdkrate4)
                @Html.ValidationMessageFor(model => model.pdkrate4)
                        </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.pdkrate5)
           </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.pdkrate5)
                @Html.ValidationMessageFor(model => model.pdkrate5)
             </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.pdkrate6)
            </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.pdkrate6)
                @Html.ValidationMessageFor(model => model.pdkrate6)
                         </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.pdkpakkefaktor)
            </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.pdkpakkefaktor)
                @Html.ValidationMessageFor(model => model.pdkpakkefaktor)
            </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    
   
}
   @helper TabDAO()
{
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
    
   
   
    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
            </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.usedao)
            </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.usedao)
                @Html.ValidationMessageFor(model => model.usedao)
            </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.daoshopsamount)
           </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.daoshopsamount)
                @Html.ValidationMessageFor(model => model.daoshopsamount)
             </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.daofrifragt)
            </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.daofrifragt)
                @Html.ValidationMessageFor(model => model.daofrifragt)
             </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.daofastpris)
           </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.daofastpris)
                @Html.ValidationMessageFor(model => model.daofastpris)
                         </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.daorate1)
            </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.daorate1)
                @Html.ValidationMessageFor(model => model.daorate1)
            </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.daorate2)
            </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.daorate2)
                @Html.ValidationMessageFor(model => model.daorate2)
            </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.daorate3)
           </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.daorate3)
                @Html.ValidationMessageFor(model => model.daorate3)
             </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.daorate4)
            </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.daorate4)
                @Html.ValidationMessageFor(model => model.daorate4)
                        </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.daorate5)
           </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.daorate5)
                @Html.ValidationMessageFor(model => model.daorate5)
             </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.daorate6)
            </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.daorate6)
                @Html.ValidationMessageFor(model => model.daorate6)
                         </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                @Html.NopLabelFor(model => model.daopakkefaktor)
            </div>
                    <div class="col-md-3">
                @Html.EditorFor(model => model.daopakkefaktor)
                @Html.ValidationMessageFor(model => model.daopakkefaktor)
            </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    
   
}
 